
		<table class="table table-bordered">
			<thead class="">
				<tr>
					<th colspan="2">Marie-Eve Lévesque</th>
                                        
					<th class="summary-ra">RA</th>
					<th class="summary-rpa">RPA</th>
                                        <th class="summary-nrpa">NRPA</th>
                                        <th class="summary-no">NO</th>
				</tr>
			</thead>
			<tbody>
                                <!-- Ligne de Total des évaluations par compétence -->
                                <tr class="accordion-toggle summary-evaluation" data-toggle="collapse" data-target=".collapseOne">
					<td>T1</td>
                                        <td>Communiquer</td>
					<td>7</td>
					<td>6</td>
                                        <td>0</td>
                                        <td>1</td>
				</tr>
                                <!-- Ligne de Total des évaluations par élément de compétence -->
                                <tr class="collapseOne collapse in">
                                        <td>T1.1</td>
                                        <td>Qualité de la langue écrite</td>
                                        <td> </td>
                                        <td class="summary-rpa">2</td>
                                        <td> </td>
                                        <td> </td>
                                </tr>
                                <!-- Ligne de Total des évaluations par élément de compétence -->
                                <tr class="collapseOne collapse in">
                                        <td>T1.2</td>
                                        <td>Qualité de la langue parlée</td>
                                        <td class="summary-ra">3</td>
                                        <td class="summary-rpa">2</td>
                                        <td> </td>
                                        <td> </td>
                                </tr>
                                <!-- Ligne de Total des évaluations par élément de compétence -->
                                <tr class="collapseOne collapse in">
                                        <td>T1.3</td>
                                        <td>Décodage du langage non-verbal</td>
                                        <td> </td>
                                        <td class="summary-rpa">1</td>
                                        <td> </td>
                                        <td> </td>
                                </tr>
                                <!-- Ligne de Total des évaluations par élément de compétence -->
                                <tr class="collapseOne collapse in">
                                        <td>T1.3</td>
                                        <td>Application de l'écoute active</td>
                                        <td class="summary-ra">2</td>
                                        <td class="summary-rpa">2</td>
                                        <td> </td>
                                        <td> </td>
                                </tr>
                                <!-- Ligne de Total des évaluations par élément de compétence -->
                                <tr class="collapseOne collapse in">
                                        <td>T1.4</td>
                                        <td>Utilisation des technologies d'information et de communication</td>
                                        <td class="summary-ra">2</td>
                                        <td> </td>
                                        <td> </td>
                                        <td class="summary-no">1</td>
                                </tr>


                                <!-- Ligne de Total des évaluations par compétence -->
                                <tr class="accordion-toggle summary-evaluation" data-toggle="collapse" data-target=".collapseTwo">
					<td>T2</td>
                                        <td>Gérer les ressources</td>
					<td>1</td>
					<td>1</td>
                                        <td>1</td>
                                        <td>0</td>
				</tr>
                                <!-- Ligne de Total des évaluations par élément de compétence -->
                                <tr class="collapseTwo collapse in">
                                        <td>T2.1</td>
                                        <td>Utilisation des ressources matérielles</td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                </tr>
                                <!-- Ligne de Total des évaluations par élément de compétence -->
                                <tr class="collapseTwo collapse in">
                                        <td>T2.2</td>
                                        <td>Qualité de la langue parlée</td>
                                        <td class="summary-ra">1</td>
                                        <td class="summary-rpa">1</td>
                                        <td class="summary-nrpa">1</td>
                                        <td> </td>
                                </tr>
                                <!-- Ligne de Total des évaluations par élément de compétence -->
                                <tr class="collapseTwo collapse in">
                                        <td>T2.6</td>
                                        <td>Coordination des aspects organisationnels de son milieu de travail</td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                </tr>
                                <!-- Ligne de Total des évaluations par élément de compétence -->
                                <tr class="collapseTwo collapse in">
                                        <td>T2.7</td>
                                        <td>Prévention et gestion des conflits interpersonnels</td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                </tr>

			</tbody>
		</table>